# Making two tables of students in the class

## Gathering records
Everybody submit their information in two dictionaries

In [1]:
import pandas as pd

In [2]:
# Example
general = {
    0:dict(name='Tian', gender='F', age='100', status='student')
}
# potential role include PO, SM, Dev
study = {
    0:dict(school='Yale', major='Immunobiology', computer_language='python, scala, java', role=None)
}

In [3]:
general_tb = pd.DataFrame(general).T.reset_index()
general_tb

   index  age gender  name   status
0      0  100      F  Tian  student

In [4]:
study_tb = pd.DataFrame(study).T.reset_index()
study_tb

   index    computer_language          major  role school
0      0  python, scala, java  Immunobiology  None   Yale

## Select a record

In [5]:
# select a record
print general_tb[general_tb['age'] > 50]
print '*' * 50
print general_tb[general_tb['age'] > 50]['status']
print '*' * 50
print general_tb.ix[general_tb['age'] > 50, 'status']

   index  age gender  name   status
0      0  100      F  Tian  student
**************************************************
0    student
Name: status, dtype: object
**************************************************
0    student
Name: status, dtype: object

## Change a value of a record

In [6]:
general_tb.ix[general_tb['age'] > 50, 'status'] = 'instructor'

In [7]:
general_tb

   index  age gender  name      status
0      0  100      F  Tian  instructor

# Practice
----

## Collect student information in two csv files
Load the two csv files using pandas

In [13]:
# general_tb = pd.read_csv(<path>)
# study_tb =pd.read_csv(<path>)

## Sort the records based on student age

In [8]:
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html

## Join two tables

In [9]:
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html

## Count how many Female and Male students in our class

In [10]:
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html

## Find out who knows the highest number of languages

In [11]:
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html

# Challenge the other team
Think about a question for the other team that they can solve with these two tables